1. Take values of the length & breadth of a rectangle from user input and check if it is square or not.

In [1]:
length = int(input("Enter the length"))
breadth = int(input("Enter the breadth"))
if length == breadth:
    print("It is a square")
else:
    print("It is not square")

Enter the length2
Enter the breadth2
It is a square

2. Take three integer values from the user and print the greatest among them.

In [2]:
x = int(input("Enter your 1st number: "))
y = int(input("Enter your 2nd number: "))
z = int(input("Enter your 3rd number: "))
if x>y and x>z:
    print("greatest number is:",x)
elif y>x and y>z:
    print("greatest number is:",y)
else:
    print("greatest number is:",z)

Enter your 1st number: 44
Enter your 2nd number: 15
Enter your 3rd number: 20
greatest number is: 44

3. A student will not be allowed to sit in an exam if his/her attendance is less than 75%.

In [3]:
total_class = int(input("Enter total class number:"))
attend_class = int(input("Enter attend class number:"))
attendance_percentage = total_class / attend_class * 100
if attendance_percentage >=75:
    print("You are elegible to sit")
else:
    print("You are not elegible to sit")

Enter total class number:10
Enter attend class number:7
You are elegible to sit

4. A school has the following rules for the grading system:
Below 25 – F, 25 to 44 – E, 45 to 49 – D, 50 to 59 – C, 60 to 79 – B, 80 to 89 - A, Above 90 - A+
Now, Ask the user to enter marks and print the corresponding grade.

In [8]:
marks = float(input("Enter your marks: "))

if marks < 25:
    grade = "F"
elif marks < 45:
    grade = "E"
elif marks < 50:
    grade = "D"
elif marks < 60:
    grade = "C"
elif marks < 80:
    grade = "B"
elif marks < 90:
    grade = "A"
else:
    grade = "A+"

print("Your grade is:", grade)

Enter your marks: 80
Your grade is: A

5. Print the following pattern using for and while loop.
1 2 3 4 5 6 7
1 2 3 4 5 6
1 2 3 4 5
1 2 3 4

for loop

In [9]:
for i in range(7, 0, -1):
    for j in range(1, i+1):
        print(j, end=' ')
    print()

1 2 3 4 5 6 7
1 2 3 4 5 6
1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

while loop

In [10]:
i = 7
while i > 0:
    j = 1
    while j <= i:
        print(j, end=' ')
        j += 1
    print()
    i -= 1

1 2 3 4 5 6 7
1 2 3 4 5 6
1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

6. Display numbers from -100 to -10 using for loop.

In [11]:
for num in range(-100, -10):
    print(num, end=' ')

-100 -99 -98 -97 -96 -95 -94 -93 -92 -91 -90 -89 -88 -87 -86 -85 -84 -83 -82 -81 -80 -79 -78 -77 -76 -75 -74 -73 -72 -71 -70 -69 -68 -67 -66 -65 -64 -63 -62 -61 -60 -59 -58 -57 -56 -55 -54 -53 -52 -51 -50 -49 -48 -47 -46 -45 -44 -43 -42 -41 -40 -39 -38 -37 -36 -35 -34 -33 -32 -31 -30 -29 -28 -27 -26 -25 -24 -23 -22 -21 -20 -19 -18 -17 -16 -15 -14 -13 -12 -11

8. Find the factorial of an n! (Hint, n=7: 7*6*5*4*3*2*1).

In [12]:
def factorial(n):
    result = 1
    for i in range(1, n+1):
        result *= i
    return result
n = 7
factorial_of_n = factorial(n)
print(f"The factorial of {n} is:", factorial_of_n)

The factorial of 7 is: 5040

In [13]:
def reverse_integer(number):
    reversed_number = 0
    while number > 0:
        digit = number % 10
        reversed_number = (reversed_number * 10) + digit
        number = number // 10
    return reversed_number
number = 27956240710
reversed_number = reverse_integer(number)
print("Reversed number:", reversed_number)

Reversed number: 1704265972

10. Print the following pattern using for and while loop.
# # #
# # # #
# # #
# #

for loop

In [30]:
for i in range(1, 9):
    if i <= 0:
        print("# " * i)
    else:
        print("# " * (3 + i))

# # # #
# # # # #
# # # # # #
# # # # # # #
# # # # # # # #
# # # # # # # # #
# # # # # # # # # #
# # # # # # # # # # #

while loop

In [35]:
i = 0
while i <= 9:
    if i <= 9:
        print("# " * i)
    else:
        print("# " * (3 + i))
    i += 3

# # #
# # # # # #
# # # # # # # # #

11. Display the Fibonacci series of 15 elements using the for and while loop.

for loop

In [36]:
a, b = 0, 1

for _ in range(15):
    print(a, end=" ")
    a, b = b, a + b

0 1 1 2 3 5 8 13 21 34 55 89 144 233 377

while loop

In [37]:
a, b = 0, 1
count = 0

while count < 15:
    print(a, end=" ")
    a, b = b, a + b
    count += 1

0 1 1 2 3 5 8 13 21 34 55 89 144 233 377

12. Remove 2 and add 3 to the list and replace True with False.
Li = [1,3,5, [2,3], True]
Output = [1,3,5, [3,3], False]

In [38]:
Li = [1, 3, 5, [2, 3], True]

# Removing 2 and adding 3
Li[3][0] = 3

# Replacing True with False
Li[-1] = False

print(Li)

[1, 3, 5, [3, 3], False]

13. Find the intersection (common) of two sets.
S1 = {1,4,6,8}
S2 = {True, 1,2,10}

In [39]:
S1 = {1, 4, 6, 8}
S2 = {True, 1, 2, 10}

intersection = S1.intersection(S2)
print("Intersection of S1 and S2:", intersection)

Intersection of S1 and S2: {True}

14. Input a list from the user then Remove duplicates from a list and create a set and find the max
number. User_input = [1,9,3,4,5,200,54]

In [41]:
user_input = input("Enter a list of numbers, separated by commas: ")
user_input = user_input.split(",")
user_input = [int(num) for num in user_input]

unique_numbers = set(user_input)

max_number = max(unique_numbers)

print("Unique numbers:", unique_numbers)
print("Maximum number:", max_number)

Enter a list of numbers, separated by commas: 55,44,55,48,44
Unique numbers: {48, 44, 55}
Maximum number: 55

15. Rename the key of a dictionary.
Dict = { "name": "Shakil", "age":27, "city": “Berlin”, "country": "Germany" }
Write a program to rename a key ‘country’ to a ‘region’ in the following dictionary.

In [43]:
Dict = {"name": "Ashik", "age": 18, "city": "Feni", "country": "Bangladesh"}

Dict['Mother_land'] = Dict.pop('country')

print("Updated Dictionary:", Dict)

Updated Dictionary: {'name': 'Ashik', 'age': 18, 'city': 'Feni', 'Mother_land': 'Bangladesh'}

16. Creating a data frame using the list.
num = [10,100,300] (column name is number)

In [44]:
import pandas as pd

num = [10, 100, 300]

data_frame = pd.DataFrame({'number': num})

print(data_frame)

   number
0      10
1     100
2     300